# Programming in Python

## Session 1

### Aim of the Session
Learn/review the basics
- what is ...
- how to ...

### 'Hello World!'

In [1]:
# the culturally-expected introductory statement
print("Hello world!")

Hello world!

In [ ]:
# an example of what you can achieve with Python in just a few lines

### Literals

Values of a _type_, presented literally

In [4]:
# example        name       type designation
42             # integer    int
2.016          # float      float*
"Homo sapiens" # string     str

print(2.016)
print(1.0e-4)
print(.54)

2.016
0.0001
0.54

- int: whole numbers e.g. 1, 1000, 6000000000
- float: 'floating point' non-whole numbers e.g. 1.9, 30.01, 10e3, 1e-3
- string: ordered sequence of characters, enclosed in quotation marks (single, double, _triple_)

In [6]:
# type conversions
print(float("1.31"))
print(int("-42"))

1.31
-42

#### Aside - Comments

Comments are preceded by a **#**, and are completely ignored by the python interpreter. 
Comments can be on their own line or after a line of code.

Comments are an incredibly useful way to keep track of what you are doing in
your code. Use comments to document what you do as much as possible, it will
pay off in the long run.

### Exercises 1

In [7]:
# print some strings
print("this a string")

this a string

In [8]:
# print some numbers (ints or floats)
print(42)
print(3.14)

42
3.14

In [19]:
# print multiple values of different types all at once
#   (hints: use comma to separate values with a space, or + to join strings)
print("This is a number:", 3.14)
print("This a " + "long string")
print("This a number: " + str(4))

This is a number: 3.14
This a long string
This a number: 4

In [17]:
# print a string containing quote marks
print("This a string with a quote \" mark")

print('This is a " string')
print("""This a string
over more than one lines""")

This a string with a quote " mark
This is a " string
This a string
over more than one lines

### Operators & Operands

Using Python as a calculator: `+`, `-`, `/`, `*` etc are _operators_, the values/variables that they work on are _operands_.

In [25]:
# standard mathematical operations can be performed in Python
print(3+4)
print(4-5)
print(3.14 * 2)
print(8 / 3)

# and some less common ones
print(2 ** 8)
print(35 % 10)

7
-1
6.28
2.6666666666666665
256
5

_Note: check out numpy, scipy, stats modules if you want to do a lot of maths_

### Variables

Store values (information) in memory, and (re-)use them. We give variables names (identifiers) so that we have a means of referring to the information on demand.

In [33]:
# variable assignment is done with '='
my_variable = 3.14
print(my_variable)
my_variable = 72
print(my_variable)
my_variable = 71

another_variable = 12 + 35
print(another_variable)

yet_another_variable = my_variable + another_variable
print(yet_another_variable)

3.14
72
47
118

In [32]:
3 + 7
2 - 19

-17

#### Variable naming
Rules:

- identifier lookup is case-sensitive
  - `myname` & `MyName` are different
- must be unique in your working environment
  - existing variable will be __over-written without warning__
- cannot start with a number, or any special symbol (e.g. $, %, @, -, etc...) except for "_" (underscore), which is OK.
- cannot have any spaces or special characters (except for "_" (underscore))

Conventions/good practice:

- identifiers (usually) begin with a lowercase letter
- followed by letters, numbers, underscores
- use a strategy to make reading easier
  - `myName`
  - `exciting_variable`
- long, descriptive > short, vague

### String Formatting
Create formatted strings, with variable values substituted in.

In [34]:
# two ways to do it in Python
name = 'Florence'
age = 73
print('%s is %d years old' % (name, age)) # common amongst many programming languages

print('{} is {} years old'.format(name, age)) # perhaps more consistent with stardard Python syntax

Florence is 73 years old
Florence is 73 years old

There is a long list of possible format options for numbers: https://pyformat.info/

### Data Structures

Programming generally requires building/working with much larger and more complex sets of data than the single values/words/sentences that we have looked at so far. In fact, finding ways to operate effectively (and efficiently) on complex structures in order to extract/produce information, _is_ (data) programming.

Python has two most commonly-used structures for storing multiple pieces of data - _lists_ and _dictionaries_. Let's look at these, and a few more, now.

#### Lists

In [42]:
# sequence of entries, in order and of any type
print([2, 5, 7, 9])
print([4.5, 3.1, 7.8])
print([1, 2, 'abc', 'cde'])

my_list = [1, 2, 6, 'abc', 'cdef']
# accessing list entries
print(my_list[0])
print(my_list[2])
print(my_list[0:3])
print(my_list[1:4])

# adding/removing entries (remove/pop)

# length of list

[2, 5, 7, 9]
[4.5, 3.1, 7.8]
[1, 2, 'abc', 'cde']
1
6
[1, 2, 6]
[2, 6, 'abc']

In [53]:
my_list = [1, 5, 7]
print(my_list)
my_list.append(10)
print(my_list)

my_list.remove(5)
print(my_list)

print(len(my_list))

[1, 5, 7]
[1, 5, 7, 10]
[1, 7, 10]
3

In [45]:
my_list = [1, 2, 6, 'abc', 'cdef']
print(my_list[-1])
print(my_list[-3:])

cdef
[6, 'abc', 'cdef']

In [49]:
# sets
my_list = [1, 1, 2, 4, 7, 7, 2]
print(my_list)
my_set = set(my_list)
print(my_set)

[1, 1, 2, 4, 7, 7, 2]
{1, 2, 4, 7}

#### Objects, Methods, and How To Get Help

In Python, everything is an _object_ - some value(s), packaged up with a set of things that can be done with/to it (___methods___), and pieces of information about it (___attributes___). This makes it very easy to perform the most commonly-needed operations for that/those type of value(s). The language has a standard syntax for accessing methods:

In [58]:
string_object = 'the cold never bothered me anyway'
# methods - object.something()
print(string_object.upper())
print(string_object)

another_string = string_object.upper()
print(another_string)
# more...
print(string_object.capitalize())

THE COLD NEVER BOTHERED ME ANYWAY
the cold never bothered me anyway
THE COLD NEVER BOTHERED ME ANYWAY
The cold never bothered me anyway

In [61]:
help(string_object.replace)

Help on built-in function replace:

replace(...) method of builtins.str instance
    S.replace(old, new[, count]) -> str

    Return a copy of S with all occurrences of substring
    old replaced by new.  If the optional argument count is
    given, only the first count occurrences are replaced.

In [65]:
string_object.replace("e", "a", 2)

'tha cold naver bothered me anyway'

In [ ]:
# dir() and help()

### Exercises 2

In [66]:
# add 'Sally' to the list of students' names
student_names = ['Sandy', 'Pete', 'Richard', 'Rebecca']
student_names.append("Sally")
print(student_names)

['Sandy', 'Pete', 'Richard', 'Rebecca', 'Sally']

In [68]:
# access the fourth entry of the list
print(student_names[3])
print(student_names[10])

Rebecca

IndexError: list index out of range

In [69]:
# join the list with a new list from another class
other_student_names = ['Sam', 'Fiona', 'Sarah', 'Richard', 'Sarah', 'Matthew']

combined_names = student_names + other_student_names
print(combined_names)

['Sandy', 'Pete', 'Richard', 'Rebecca', 'Sally', 'Sam', 'Fiona', 'Sarah', 'Richard', 'Sarah', 'Matthew']

In [71]:
student_names = student_names + other_student_names

In [72]:
my_list = [1, 2]
my_list.append(3)
print(my_list)

[1, 2, 3]

In [75]:
my_string = "a string"
my_string = my_string.upper()
print(my_string)

A STRING

In [76]:
help(my_string.upper)

Help on built-in function upper:

upper(...) method of builtins.str instance
    S.upper() -> str

    Return a copy of S converted to uppercase.

In [80]:

print(sorted(student_names))

['Fiona', 'Matthew', 'Pete', 'Rebecca', 'Richard', 'Richard', 'Sally', 'Sam', 'Sandy', 'Sarah', 'Sarah']

#### Dictionaries

In [86]:
# collection of paired information - keys and values
student_marks = {'Alessio': 67, 'Nic': 48, 'Georg': 68}

empty_dict         = {}
another_empty_dict = dict()

# accessing dict entries

# adding/changing/deleting entries

In [82]:
student_age = {'Alessio': 26, 'Nic': 28, 'Georg': 32}
print(student_age)

{'Alessio': 26, 'Nic': 28, 'Georg': 32}

In [83]:
another_dict = {1: 'a', 2: 'c', 3: 'e'}
print(another_dict)

{1: 'a', 2: 'c', 3: 'e'}

In [89]:
print(student_marks)

print(student_marks['Nic'])

{'Alessio': 67, 'Nic': 48, 'Georg': 68}
48

In [91]:
print(student_marks.keys())
print(student_marks.values())

dict_keys(['Alessio', 'Nic', 'Georg'])
dict_values([67, 48, 68])

In [93]:
student_marks['Tim'] = 62
print(student_marks)
student_marks['Nic'] = 47
print(student_marks)

{'Alessio': 67, 'Nic': 48, 'Georg': 68, 'Tim': 62}
{'Alessio': 67, 'Nic': 47, 'Georg': 68, 'Tim': 62}

In [94]:
student_marks.pop('Tim')
print(student_marks)

{'Alessio': 67, 'Nic': 47, 'Georg': 68}

#### Mutable?

Object types can be divided into two categories - mutable & immutable. _Mutable_ objects can be changed 'in-place' - their value can be updated, added to, re-ordered etc without the need to create a whole new object every time. _Immutable_ types cannot be changed in place - once they have a value, this value cannot be altered. though, of course, it can __always__ be overwritten.

In [ ]:
# lists are mutable
cities = ['Nairobi', 'Vancouver', 'Wellington', 'Beijing']
print(cities)

In [ ]:
# strings are immutable
beatles = "I'd like to be under the sea"

### Looping

Time for some real programming. The biggest motivation for researches to learn a programming language is the opportunity to automate repetitive tasks and analyses.

For loops define a set of steps that will be carried out for all items in a sequence. The items in the sequence will be taken one-at-a-time, and the loop performed, until there are no more items to process.

In [95]:
for season in ['Spring', 'Summer', 'Autumn', 'Winter']:
    print(season)

Spring
Summer
Autumn
Winter

In [96]:
for number in [1, 5, 87, 3]:
    print(number)
    print("------")

1
------
5
------
87
------
3
------

In [97]:
word = 'python'
for letter in word:
    print(letter.upper())

print("Finished")

P
Y
T
H
O
N
Finished

In [ ]:
# range

# zip
# iterating through two lists simultaneously

# enumerate

In [98]:
for number in range(5):
    print("The number is ", number)

The number is  0
The number is  1
The number is  2
The number is  3
The number is  4

In [99]:
for number in range(1,5):
    print("The number is", number)

The number is 1
The number is 2
The number is 3
The number is 4

In [100]:
names = ['Sally', 'Linda', 'Tim']
grades = [46, 52, 45]
for name, grade in zip(names, grades):
    print("Name: ", name, "   Grade:", grade)

Name:  Sally    Grade: 46
Name:  Linda    Grade: 52
Name:  Tim    Grade: 45

In [101]:
for index, name in enumerate(names):
    print("Position", index, " has name ", name)

Position 0  has name  Sally
Position 1  has name  Linda
Position 2  has name  Tim

## Exercise 3:

In [ ]:
# calculate the mean of the elements in the list
list_of_numbers = [1, 2, 4, 8, 3, 6, 1, 9, 10, 5]

sum_of_values = ...
for ... in list_of_numbers:
    ... = ... + ...
mean_value = ... / len(...)
print(mean_value)

### Conditionals - if, elif, else

Looping allows you to perform a common set of operations on multiple pieces of data very quickly. But what if you want to treat the pieces differently, depending on some property or other of the objects?

This is the other central part of programming: testing for certain circumstances and changing the treatment of pieces of data accordingly. It is known as _flow control_, as you are controlling the flow of data through your script of operations.

#### if - elif - else

In [ ]:
# use if statements to test for a condition (comparison, equality)

# use else to dictate what happens when the condition isn't met

# use elif to add more conditionals
# use more than one condition check

In [107]:
temperature = 18
if temperature > 20:
    print("T-shirt weather")
else:
    print("Bring a jacket")

Bring a jacket

In [111]:
weather = 'foggy'
if weather == 'rainy':
    print("Bring an umbrella")
elif weather == "sunny":
    print("Bring sunscreen")
else:
    print("Dont bring an umbrella")

Dont bring an umbrella

In [112]:
temperature = 15
if temperature < 20:
    if temperature > 0:
        print("Bring a light jacket")

Bring a light jacket

In [ ]:
temperature = 15
if temperature < 20 and temperature > 0:
    print("Bring a light jacket")

In [114]:
weather = 'foggy'
if weather == 'foggy' or weather == 'rainy':
    print("No sunshine")

No sunshine

In [ ]:
# list comprehensions with conditionals